div {
    width: 10vw;
    height: 10vw;
    background-color: red;
    margin: 1em;
}

#box1:hover {
    animation: change 1s alternate forwards;
    animation-timing-function: linear;
}
#box2:hover {
    animation: change 1s alternate 2;
    animation-timing-function: cubic-bezier(.17,.67,1,.24);
}
#box3:hover {
    animation: square 4s alternate infinite;
    animation-timing-function: linear;
}

    @keyframes change {
        to{
            transform: translate(50vw);
        }
    }
@keyframes square{
    20%{
        transform: translate(25vw);
        background-color: red;
    }
    25%{
        background-color: aqua;
    }
    45%{
        transform: translate(25vw, 25vh);
        background-color: aqua;
    }
    50%{
        background-color: green;
    }
    70%{
        transform: translate(0, 25vh);
        background-color: green;
    }
    75%{
        background-color: purple;
    }
    95%{
        transform: translate(0,0);
        background-color: purple;
    }
    100%{
        background-color: red;
    }

}


